.signature-pad {
  height: 100%;
  width: 100%;
  border-radius: .25rem;
  overflow: hidden;
  position: relative;
  canvas {
      background: #f2f2f2;
  }

  .btn {
      margin-right: .25em;
  }

}
